body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

main {
    background-color: whitesmoke;
    border: 2px groove #7646a7;
    border-radius: 10px;
    width: 600px;
    margin: 20px 0 0 20px;
    padding: 10px;
}

header {
    text-align: center;
}